.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: baseline;


    .links {
        display: flex;
        width: 50%;
        justify-content: space-around;
    }

    .social {
        display: flex;
        width: 15%;
        justify-content: space-around;
    }
}

